openapi: 3.1.0
info:
  title: API PE-2.1
  description: Documentación de la API para la práctica experimental PE-2.1 / PE-2.2.
  version: 1.0.0
  license:
    name: MIT
servers:
  - url: https://api.midominio.com/v1
    description: Servidor de producción

paths:
  /health:
    get:
      summary: Verificación del estado de la API
      description: Retorna el estado actual del servidor para comprobar si la API está en funcionamiento.
      operationId: getHealthCheck
      security: []
      responses:
        '200':
          description: El servidor está operativo y funcionando correctamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              examples:
                exito:
                  summary: Respuesta de éxito estándar
                  value:
                    status: "OK"
                    timestamp: "2026-06-19T15:30:00Z"
                    version: "1.0.0"
        '400':
          description: Petición incorrecta. Error del lado del cliente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                bad_request:
                  summary: Error de sintaxis
                  value:
                    error: "Bad Request"
                    details: "La petición contiene sintaxis inválida."
        '503':
          description: Servicio no disponible. El servidor no puede procesar la petición actualmente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                error_mantenimiento:
                  summary: Error por servidor en mantenimiento
                  value:
                    error: "Service Unavailable"
                    details: "La base de datos principal no responde."

components:
  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          description: Estado actual del servidor.
          enum: [OK, DOWN]
        timestamp:
          type: string
          format: date-time
          description: Fecha y hora exacta de la verificación.
        version:
          type: string
          description: Versión actual de la API.
    
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Tipo o título del error.
        details:
          type: string
          description: Descripción detallada del problema para facilitar la depuración.