openapi: 3.0.3
info:
  title: API del Sistema
  description: Documentación completa de los endpoints del backend.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.midominio.com/v1
    description: Servidor de producción

# Configuración de seguridad global (aplica a todos los endpoints)
security:
  - bearerAuth: []

paths:
  /recursos:
    get:
      summary: Obtiene todos los recursos
      operationId: getRecursos
      responses:
        '200':
          description: Lista de recursos obtenida con éxito
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Recurso'
        '401':
          description: No autorizado
    post:
      summary: Crea un nuevo recurso
      operationId: createRecurso
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecursoInput'
      responses:
        '201':
          description: Recurso creado exitosamente
        '400':
          description: Error en los datos enviados

  /recursos/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID del recurso
    get:
      summary: Obtiene un recurso por ID
      operationId: getRecursoById
      responses:
        '200':
          description: Detalles del recurso
        '404':
          description: Recurso no encontrado
    put:
      summary: Actualiza un recurso existente
      operationId: updateRecurso
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecursoInput'
      responses:
        '200':
          description: Recurso actualizado
        '404':
          description: Recurso no encontrado
    delete:
      summary: Elimina un recurso
      operationId: deleteRecurso
      responses:
        '204':
          description: Recurso eliminado correctamente
        '404':
          description: Recurso no encontrado

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Recurso:
      type: object
      properties:
        id:
          type: string
        nombre:
          type: string
        descripcion:
          type: string
    RecursoInput:
      type: object
      required:
        - nombre
      properties:
        nombre:
          type: string
        descripcion:
          type: string